body {
  font-family: sans-serif;
}
.header{
  font-size: 3rem;
  text-align: center;
  padding: 20px 0px;
}

#app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.listArea {
  margin: 7px;
  border-radius: 5px;
  background-color: rgb(43, 76, 80);
}

.listArea:hover{
  transform: scale(1.04);
  background-color: rgb(17, 71, 77);
  box-shadow: 0 0 3px 1px rgb(43, 76, 80);
}

.description {
  color: whitesmoke;
}

.images {
  width: 100%;
  height: 350px;
  border-radius: 3px;
  object-fit: contain;
}

